<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <h1 class='text-center'>BARNETTE'S AMAZING CALCULATOR MACHINE</h1>
    <h6 class='text-center'>(that you could just as easily google)</h6>
</head>
<body>
<br>
<div class="container">

    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Number" name="first_number">
        </div>

        <br>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Number" name="second_number">
        </div>

        <br>

            <method class="submit"></method>
            <button type="submit" class="btn btn-default" capture="text">PUSH ME!</button>
        </a>

        <select name="operator">
            <option>plus</option>
            <option>minus</option>
            <option>multiply</option>
            <option>divided</option>
        </select>
    </form>
    <br>

    {{ answer }}!
</div>
</body>
</html>